.Rproj.user
.Rhistory
.RData
.Ruserdata
data/blastdb
data/raw/
output/01-data-explore/trinity-der
output/01-data-explore/trinity-pyc
output/04-pyc-hisat/*
data/ncbi_dataset/*
data/genome*
data/Swiss*
output/05-pis-annot/trinity
output/08-trinity-unmapped/*

